@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

section {
  width: 100%;
  min-height: 100vh;
  display: flex !important;
  justify-content: center;

}

.container {
  display: flex;
  flex-direction: column;
  width: 400px !important;
  position: relative;
  margin-top: 60px;
  background: rgb(255, 255, 255);
  align-items: center;
}


form input {
  margin-right: 20px !important;
  width: 300px;
}



.todo-container {
  display: flex;
  width: 400px !important;
  position: relative;
  align-items: center;
  margin-top: 25px;
  font-size: 1.8rem;
  animation: fade .4s ease-in-out;
}

.todo-container .text {
  position: relative;
  margin-left: 20px;
  text-transform: capitalize;

}

.todo-container .close {
  position: absolute;
  right: 20px;
  font-size: 10px;
}


.todo-container .checkbox {
  position: absolute;
  right: 120px;
  font-size: 10px;
}

.todo-container .edit {
  position: absolute;
  right: 60px;
  bottom: 0px;
  font-size: 20px;
}

.todoid {
  display: none;
}


.text {
  color: black;
}

.icon {
  cursor: pointer;
}

.btn {
  display: flex;
  width: -webkit-fill-available;
  justify-content: space-between;
  position: relative;
  padding: 15px;
  top: 40px;
}


.remove-all {

  margin-left: 20px;

}

li {
  font-size: 25px;
  text-transform: capitalize;
  position: relative;
  top: 25px;
  letter-spacing: 1px;
  padding-top: 20px;
}

h4 {
  color: black;
}


@media(max-width:576px) {

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  form button {
    top: 10px;
    position: relative;
  }

  .todo-container .checkbox {

    right: 115px;
    font-size: 10px;
    top: 5px;
  }

  .todo-container .edit {
    position: absolute;
    right: 65px;
    font-size: 18px;
  }

  .todo-container .close {

    right: 28px;
    font-size: 10px;
  }

  .todo-container {
    display: flex;
    width: 380px !important;
    position: relative;
    align-items: center;
    margin-top: 35px;
    font-size: 1.6rem;

  }

  .todo-container .text {
    position: relative;
    margin-left: 30px;
    text-transform: capitalize;
  }

  li {
    font-size: 20px;
  }

}




@keyframes fade {
  0% {
    left: -100px;
    transform: scale(.2);
  }

  100% {
    left: 0px;
    transform: scale(1);
  }
}