* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  background: black;
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  padding-bottom: 50px;

}

.container form input {
  border: none;
  outline: none;
  width: 260px;
  border-radius: 30px;
  padding: 10px 30px;
  background: rgb(255, 255, 255);
}


form i {
  outline: none;
  border-radius: 20px;
  color: aqua;
  padding: 4px 15px;
  font-size: 2rem;
  cursor: pointer;
}

form input {
  color: rgb(0, 0, 0);
}

form ul {
  list-style: none;
  position: relative;
  margin-top: 123px;
}

form ul li {
  position: relative;
  letter-spacing: 2px;
  margin-top: 35px;
  left: 5px;
  font-size: 22px;
  animation: fade .4s ease-in-out;
  padding-bottom: 10px;
  text-transform: capitalize;
  color: aliceblue;
  border-bottom: 2px solid grey;
  width: 295px;
}

form ul li span {
  position: absolute;
  top: 2px;
  right: -13px;
  cursor: pointer;
  color: aliceblue;
}

  form ul li span i {
    color: rgb(252, 86, 21);
    font-size: 22px;
  }

  @keyframes fade {
    0% {

      opacity: 0;
      transform: scale(.3);
    }

    100% {

      opacity: 1;
      transform: scale(1);
    }
  }

  h3 {
    color: rgb(255, 255, 255);
    text-align: center;
    position: relative;
    top: 30px;
    font-size: 2rem;
    left: -20px;
  }

  .input-add {
    position: relative;
    display: flex;
    top: 80px;
  }