@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

section {
  width: 100%;
  min-height: 100vh;
  display: flex !important;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  width: 400px !important;
  position: relative;
  margin-top: 60px;
  background: rgba(231, 72, 72, 0);
  align-items: center;
}

form input {
  margin-right: 20px !important;
  width: 300px;
  background: #e8e8e8 !important;
  padding: 8px 15px !important;
  border: 1px solid rgba(29, 27, 27, 0) !important;
}

input:focus {
  border: none !important;
}

input::placeholder {
  color: rgba(0, 0, 0, 0.609) !important;
}

.todo-container {
  display: flex;
  width: 400px !important;
  position: relative;
  align-items: center;
  letter-spacing: 1px;
  margin-top: 25px;
  font-size: 1.5rem;
  animation: fade 0.4s ease-in-out;
}

.todo-container .text {
  position: relative;
  margin-left: 8px;
  text-transform: capitalize;
}

.todo-container .close {
  position: absolute;
  right: 20px;
  font-size: 10px;
}

.todo-container .checkbox {
  position: absolute;
  right: 120px;
  font-size: 10px;
}

.todo-container .edit {
  position: absolute;
  right: 60px;
  bottom: 0px;
  font-size: 20px;
}

.todoid {
  display: none;
}

.text {
  color: black;
}

.icon {
  cursor: pointer;
}

.btn {
  width: -webkit-fill-available;
  justify-content: space-between;
  position: relative;
  padding: 10px 0 50px 0;
  top: 25px;
}

.remove-all {
  margin-right: 20px !important;
}

li {
  font-size: 22px;
  text-transform: capitalize;
  position: relative;
  top: 25px;
  letter-spacing: 1px;
  padding-top: 20px;
}

h4 {
  color: black;
}

.completed {
  width: 100%;
  display: flex !important;
  justify-content: center !important;
}

.completed-todo {
  width: 300px;
  top: 80px;
  position: relative;
  padding: 30px;
  background: rgb(255, 255, 255);
  height: auto;
}

.completed-todo h2 {
  font-size: 2.3rem;
}

.completed-todo ol li {
  position: relative;
  left: 30px;
  top: -5px;

}

.completed-todo button {
  position: relative;
  width: 140px !important;
  top: 20px;

}



/*------------------------------- Media Query -------------------------------------*/


@media (max-width: 576px) {
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  form button {
    top: 10px;
    position: relative;
  }

  .todo-container .checkbox {
    right: 115px;
    font-size: 10px;
    top: 5px;
  }

  .todo-container .edit {
    position: absolute;
    right: 65px;
    font-size: 18px;
  }

  .todo-container .close {
    right: 28px;
    font-size: 10px;
  }

  .todo-container {
    display: flex;
    width: 380px !important;
    position: relative;
    align-items: center;
    margin-top: 35px;
    font-size: 1.6rem;
  }

  .todo-container .text {
    position: relative;
    margin-left: 30px;
    text-transform: capitalize;
  }

  li {
    font-size: 20px;
  }

  .btn {
    left: 25px;
  }



}

@keyframes fade {
  0% {
    left: -100px;
    transform: scale(0.2);
  }

  100% {
    left: 0px;
    transform: scale(1);
  }
}